<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Posting</title>
</head>
<body>
  <h1>Post a Blog</h1>
  <form action="/post-blog" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Title" required><br>
    <textarea name="content" placeholder="Write your blog here..." required></textarea><br>
    <input type="file" name="images" multiple><br>
    <button type="submit">Post Blog</button>
  </form>

  <h2>All Blogs</h2>
  <ul>
    <% blogs.forEach(blog => { %>
      <li>
        <h3><%= blog.title %></h3>
        <p><%= blog.content %></p>
        <p>Images: 
          <% blog.images.forEach(image => { %>
            <img src="<%= image %>" width="100px" />
          <% }); %>
        </p>
        <form action="/edit-blog/<%= blog.id %>" method="POST">
          <input type="text" name="title" value="<%= blog.title %>">
          <textarea name="content"><%= blog.content %></textarea>
          <input type="password" name="key" placeholder="Enter key to edit">
          <button type="submit">Edit Blog</button>
        </form>
        <form action="/delete-blog/<%= blog.id %>" method="POST">
          <input type="password" name="key" placeholder="Enter key to delete">
          <button type="submit">Delete Blog</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>